
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
  <title>vocaloid Heardle</title>
  <meta name="description" content="Guess the vocaloid song from the intro in as few tries as possible.">
  <meta itemprop="name" content="vocaloid Heardle - That daily vocaloid song intros game">
  <meta itemprop="description" content="Guess the vocaloid song from the intro in as few tries as possible.">
  <meta itemprop="image" content="https://cdn.glitch.global/ddbe8776-c33e-4a0d-8de4-6a536510547f/harry-styles-as-it-was.jpg?v=1649009749963">
  <meta property="og:url" content="https://harry-styles-heardle.glitch.me/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="vocaloid Heardle">
  <meta property="og:description" content="Guess the vocaloid song from the intro in as few tries as possible.">
  <meta property="og:image" content="https://cdn.glitch.global/ddbe8776-c33e-4a0d-8de4-6a536510547f/harry-styles-as-it-was.jpg?v=1649009749963">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="vocaloid Heardle">
  <meta name="twitter:description" content="Guess the vocaloid song from the intro in as few tries as possible.">
  <meta name="twitter:image" content="https://cdn.glitch.global/ddbe8776-c33e-4a0d-8de4-6a536510547f/harry-styles-as-it-was.jpg?v=1649009749963">

  
  <!-- USE YOUR OWN GOOGLE ANALYTICS CODE -->
  <!-- OR REMOVE THIS BIT COMPLETELY -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-GPSR1C0Q60"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-GPSR1C0Q60');
  </script>
  
  
  
	<link rel="icon" type="image/png" href="https://cdn.glitch.global/ddbe8776-c33e-4a0d-8de4-6a536510547f/harry-styles-as-it-was.jpg?v=1649009749963">
  <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.glitch.global/ddbe8776-c33e-4a0d-8de4-6a536510547f/harry-styles-as-it-was.jpg?v=1649009749963">
  <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.glitch.global/ddbe8776-c33e-4a0d-8de4-6a536510547f/harry-styles-as-it-was.jpg?v=1649009749963">
  <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.glitch.global/ddbe8776-c33e-4a0d-8de4-6a536510547f/harry-styles-as-it-was.jpg?v=1649009749963">
  <link rel="shortcut icon" href="https://cdn.glitch.global/ddbe8776-c33e-4a0d-8de4-6a536510547f/harry-styles-as-it-was.jpg?v=1649009749963">
  <link rel="manifest" href="/site.webmanifest">
	<link rel="stylesheet" href="/global.css">
	<link rel="stylesheet" href="/bundle.css">

	<script defer src="/songs.js"></script>
	<script defer src="/main.js"></script>
</head>

<body>
<!--   <div id="ribbon" data-line-height="2.5">
    <a href="https://glitch.com/edit/#!/harry-styles-heardle">Remix on Glitch</a>
  </div>
  <script src="https://ribbon.glitch.me/ribbon.js"></script> -->
</body>
</html>